#main {
    text-align: center;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
}
.search-item {
    position: relative;
    flex: 1 1 50%;
}
.search-checkbox {
    opacity: 0;
    position: absolute;
}
.search-button {
    flex: 1 1 100%;
    margin-top: 1rem;
}
