h1, h2, h3 {
  font-family: Oswald, sans-serif;
}

#main {
  text-align: center;
}

#logo {
  margin-right: 1em;
}

#logo img {
  max-width: 100%;
}

.solo {
  min-height: 100vh;
}

.amenity-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.amenity-item {
  position: relative;
  flex: 0 1 50%;
  min-width: 300px;
  margin-bottom: .5em;
}

.input-text {
  display: block;
  border-radius: 4px;
  margin: 0 5px;
  background-color: #efefef;
  color: #222;
  text-align: center;
  cursor: pointer;
  height: 3.5rem;
  line-height: 3.5rem;
}

.input-text:before {
  transition: all .25s ease-in-out;
  content: '\f058';
  font-family: FontAwesome;
  position: absolute;
  top: -.5rem;
  left: 0;
  font-size: 0;
  color: #9AC1A0;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.input-checkbox {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.input-checkbox:checked + .input-text {
  background-color: #6463a3;
  color: #fff;
}

.input-checkbox:checked + .input-text:before {
  font-size: 2rem;
}

.input-checkbox:checked + .input-text svg {
  fill: #fff;
}

.svg-icon {
  display: inline-block;
  vertical-align: middle;
}

.svg-icon svg {
  width: 20px;
  height: 20px;
}

.search-button {
  border-radius: 5px;
  flex: 1 1 100%;
  background-color: #9AC1A0;
  color: #222;
  line-height: 3.5rem;
  font-family: Oswald, sans-serif;
  font-size: 2rem;
}

.search-button:hover, .search-button:active, .search-button:focus {
  background-color: #444;
  color: #fff;
}

.add-location fieldset {
  margin-bottom: 2rem;
}

#header {
  background-color: #444;
}

#header .icon {
  color: #efefef;
}

#header .icon:before {
  color: #efefef;
}

#nav ul li a.active span:before {
  color: #9AC1A0;
}

ul.icons li {
  text-align: center;
}

#headerToggle .toggle:before {
  background-color: #9AC1A0;
}

#footer {
  display: none;
  background-color: #efefef;
}

#main > section.one {
  background: #6463a3;
}

#map {
  border: 10px, solid, red;
  height: 100%;
  min-height: 500px;
}
